<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--alias 定义别名-->
    <alias alias="ISqlHelper" type="DeviceInterface.ISqlHelper,DeviceInterface" />
    <alias alias="MssqlHelper" type="MssqlHelperService.MssqlHelper,MssqlHelperService" />
    <!--引入下面的命名空間，可以省的輸入過多的內容-->
    <!--<namespace name="DeviceInterface" />
    <assembly name="DeviceInterface" />-->

    <containers>
      <container name="test">
        <!--register type="full class name,namespace"-->
        <register type="DeviceInterface.ISqlHelper,DeviceInterface" mapTo="MssqlHelperService.MssqlHelper,MssqlHelperService">
          <lifetime type="singleton"/>
          <!--每次调用同一个实例-->
        </register>
        <register type="DeviceInterface.IOtherHelper,DeviceInterface" mapTo="SqlLiterService.SqlLiterHelper,SqlLiterService">
          <lifetime type="singleton"/>
        </register>
        <!--使用别名注册-->
        <register type="ISqlHelper" mapTo="MssqlHelper">
        </register>

      </container>
      <container >
        <!--register type="full class name,namespace"-->
        <register type="DeviceInterface.ISqlHelper,DeviceInterface" mapTo="MssqlHelperService.MssqlHelper,MssqlHelperService">
          <lifetime type="singleton"/>
          <!--每次调用同一个实例-->
        </register>
        <register type="DeviceInterface.IOtherHelper,DeviceInterface" mapTo="SqlLiterService.SqlLiterHelper,SqlLiterService">
          <lifetime type="singleton"/>
        </register>

      </container>
    </containers>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
